a, a.muted-link, a {
  color: #f26522;
}

#comments {
    margin-top: 30px;
}

.gh-comment {
  border: 1px solid #d1d5da;
  margin-top: 15px;
}

.gh-header {
  display: flex;
  color: #586069;
  background-color: #f6f8fa;
  border-bottom: 1px solid #d1d5da;
  padding: 10px;
  font-size: 85%;
}

.gh-username {
  color: #586069;
}

.gh-body {
  padding: 10px 15px;
}

.gh-body code {
  font-size: 120%;
}
.gh-body > div.highlight > pre {
  padding: 10px;
  color: lime;
  font-size: 120%;
  background-color: #000;
  border-radius: 5px;
}

.gh-comment p {
  margin: 0px 0px 10px 0px;
}
.gh-comment p:last-child {
  margin: 0;
}

.gh-header > img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
}

.box-shadow-medium {
    box-shadow: 0 1px 2px rgba(27,31,35,0.15) !important;
}

.markdown-body .paginator-page h3 {
  margin-bottom: inherit;
}

div.paginator-page {
  padding-bottom: 16px;
  border-bottom: 1px solid #d1d5da;
}

div.paginator-page > div:first-child {
  margin-bottom: 16px;
}

.Label--gray-light {
  background-color: #ffffff;
  color: #586069;
}

.Label--orange-light {
  background-color: #f26522;
  color: #ffffff;
}

.Label--timestamp {
  background-color: inherit;
  color: #f26522;
}

.UnderlineNav-actions.title-pages {
  flex: 0 0 auto;
  margin: 3px 4px;
}
.UnderlineNav--right .UnderlineNav-item {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 8px;
  padding-right: 4px;
}

.subtitle {
  display: block;
  clear: both;
}

.about-me img {
  display: block;
  margin: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 96px;
}
.about-me-social {
  display: block;
  margin: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
}

.about-me-social a {
  text-decoration: none;
}

.about-me-social svg:hover {
  fill: #f26522;
}

@media screen and (max-width: 1012px) {
  #side {
    /* display: block; */
    position: absolute;
    top: 0;
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid #d1d5da;
  }
  .UnderlineNav {
    display: inline-block;
    padding-top: 8px;
  }
  .UnderlineNav--right .UnderlineNav-item {
    padding: 8px 16px 16px 0px;
  }
  nav {
    width: 100%;
  }
}
@media not screen and (max-width: 1012px) {
  #side {
  }
}

#recent-posts div {
  font-size: 12px;
  padding-bottom: 4px;
}

a.link-gray-dark:hover {
  color: #f26522 !important;
}
