a, a.muted-link, a:hover {
  color: #f26522 !important;;
}

#comments {
    margin-top: 30px;
}

.gh-comment {
  border: 1px solid #d1d5da;
  margin-top: 15px;
}

.gh-header {
  display: flex;
  color: #586069;
  background-color: #f6f8fa;
  border-bottom: 1px solid #d1d5da;
  padding: 10px;
  font-size: 85%;
}

.gh-username {
  color: #586069;
}

.gh-body {
  padding: 10px 15px;
}

.gh-body code {
  font-size: 120%;
}
.gh-body > div.highlight > pre {
  padding: 10px;
  color: lime;
  font-size: 120%;
  background-color: #000;
  border-radius: 5px;
}

.gh-comment p {
  margin: 0px 0px 10px 0px;
}
.gh-comment p:last-child {
  margin: 0;
}

.gh-header > img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
}

.box-shadow-medium {
    box-shadow: 0 1px 2px rgba(27,31,35,0.15) !important;
}

.markdown-body .paginator-page h3 {
  margin-bottom: inherit;
}

div.paginator-page {
  padding-bottom: 16px;
  border-bottom: 1px solid #d1d5da;
}

div.paginator-page > div:first-child {
  margin-bottom: 16px;
}

.Label--timestamp {
  background-color: #f26522;
  color: #ffffff;
  background-color: inherit;
  color: #f26522;
}
