{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}


{{ define "main" }}
<!-- list template -->
<div>

  <!-- <h1>{{ .Title }} 222 is this needed?</h1> -->
  {{ .Content }}

  {{ range .Paginator.Pages }}
  <div class="paginator-page">
    <div>
      <a href="{{ .RelPermalink }}">
        <h3>{{ .Title }}</h3>
      </a>
      {{ partial "taxonomy.html" . }}

      {{ if ( default true .Params.showDate ) }}
      <div class="float-md-right">
        <span title="Lastmod: {{ .Lastmod.Format "2006-01-02" }}. Published at: {{ .PublishDate.Format "2006-01-02" }}." class="Label Label--timestamp">
          {{ if ne .Lastmod .PublishDate }}
            Lastmod: {{ dateFormat ( default "2006-01-02" .Site.Params.dateFormat ) .Lastmod }}
          {{ else }}
            {{ dateFormat "2006-01-02" .PublishDate }}
          {{ end }}
        </span>
      </div>
      {{ end }}
      <!-- <small>{{ .Permalink }}</small> -->
      <!-- {{ .Date.Format "2006-01-02" }} -->
    </div>
    {{ .Summary }}
  </div>
  {{ end }}

  {{ if gt .Paginator.TotalPages 1 }}
  <nav class="paginate-container">
    <div class="pagination">
      <ul>
        {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}" class="previous_page">Prev</a>
        {{ else }}
        <span class="previous_page disabled">Prev</span>
        {{ end }}

        {{ range .Paginator.Pagers }}
          <a href="{{ .URL }}">
            {{ .PageNumber }}
          </a>
        {{ end }}

        {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}" class="next_page">Next</a>
        {{ else }}
        <span class="next_page disabled">Next</span>
        {{ end }}
      </ul>
    </div>
  </nav>
  {{ end }}


</div>

{{ end }}

{{ define "side" }}
  {{ partial "side.about.html" . }}
  {{ partial "side.taxonomy.html" . }}
{{ end }}
